html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #191A2A;
}

.container {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;

}

.row {
    width: 100vw;
}

.my-border {
    text-align: center;
    max-width: 20vw;
    margin: 0;
    background-color: #131421;
    height: 100vh;
}

.feed {
    max-width: 80vw;
    margin-right: 0;
}

.profile-photo img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.name-username {
    display: inline-grid;
}

.description {
    display: inline-grid;
    margin-top: 3vh;
}

.social-medias {
    margin-top: 5vh;
    align-items: center;
}

.social-medias a {
    text-decoration: none;
    color: #fff;
}

.social-medias a:hover {
    text-decoration: none;
    color: tomato;
}

.social-medias section {
    height: 7vh;
    align-items: center;
    padding-top: 1vh;
}

.social-medias img {
    margin-right: 1vw;
    height: 25px;
    width: 25px;
}

.social-medias label {
    margin-left: 0.5vw;
}

.social-medias .facebook img {
    height: 27px;
    width: 30px;

}

.social-medias .linkedin img {
    height: 33px;
    width: 35px;

}

.social-medias .instagram img {
    height: 25px;
    width: 35px;

}

.social-medias .twitter {
    margin-right: 2vw;
}

.social-medias .twitter img {
    height: 33px;
    width: 35px;
}
