.feed {
    padding: 4vh;
    display: block;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.content-posts {
    padding: 16px;
    margin-top: 30px;
    height: 90vh;
}

.post {
    height: 20vh;
    margin-bottom: 10vh;
}

.data-post {
    float: right;
    display: inline-grid;
}

.post img {
    padding-right: 4vw;
    height: 10vh;
}

.post label {
    margin-bottom: 0;
    padding-left: 0.5vw;
}

.data-post .tech {
    padding: 0;
    margin-top: 0;
    padding-left: 3vw;
}