html, body {
    margin: 0;
    padding: 0;
    background-color: #191A2A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-left: 0;
}

.my-border {
    max-width: 25vw;
    margin: 0;
    background-color: #131421;
    height: 100vh;
}

.profile-photo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}